.shopping-list {
  padding: 0 10%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  .header {
    @include titleFont;
    font-size: 28px;
    font-weight: 200;
    color: $second-color;
    text-align: center;
    margin-top: 20px;
  }
  .menu {
    @include titleFont;
    margin: 10px 0;
    padding: 10px 20px 15px;
    background: $second-color;
    color: white;
    font-size: 20px;
    .item-box {
      float: left;
      margin: 4px 5px;
    }
    .menu-item {
      @include brandonFont;
      display: block;
      text-decoration: none;
      color: white;
      font-size: 19px;
      font-weight: 300;
      line-height: 21px;
      padding: 3px 0;
    }
    .menu-item-container::-webkit-scrollbar {
      display: none;
    }
    .menu-item-container {
      position: relative;
      width: 100%;
      overflow-x: auto;
      .menu-item-inner {
        width: calc(100% + 60px);
        overflow: hidden;
        .menu-item {
          width: calc(100% - 60px);
          float: left;
        }
        .menu-item-right {
          position: relative;
          width: 60px;
          height: 26px;
          background: $fourth_color;
          float: left;
          color: white;
          font-size: 16px;
          .item-remove {
            height: 100%;
            width: 100%;
            margin: 5px 20px;
            display: block;
          }
        }
      }
    }
  }
  .aisle {
    margin: 15px 0 15px 20px;
    .aisle-header {
      @include titleFont;
      font-size: 18px;
      color: $second-color;
    }
    .item-container::-webkit-scrollbar {
      display: none;
    }
    .item-container {
      position: relative;
      width: 100%;
      overflow-x: auto;
      .item-inner {
        width: calc(100% + 60px);
        overflow: hidden;
        .item {
          width: calc(100% - 60px);
          float: left;
        }
        .item-right {
          position: relative;
          width: 60px;
          height: 35px;
          background: $fourth_color;
          float: left;
          color: white;
          .item-remove {
            height: 100%;
            width: 100%;
            margin: 9px 20px;
            display: block;
          }
        }
      }

    }
    .item {
      display: block;
      @include avenirFont;
      font-size: 21px;
      overflow: hidden;
      line-height: 35px;
      .item-box, .item-text {
        float: left;
      }
      .item-box {
        font-size: 19px;
        line-height: 35px;
        color: $second_color;
        margin-right: 8px;
      }
      .recipe-ref {
        @include brandonFont;
        font-size: 17px;
        color: $second_color;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .item.checked-off {
      .item-text {
        text-decoration: line-through;
        color: $second_color;
      }
    }
  }
  .complete-button {
    cursor: pointer;
    background: $first_color;
    color: white;
    padding: 20px;
    text-align: center;
    width: calc(100% - 100px);
    margin: 20px;
    font-size: 22px;
    text-transform: uppercase;
  }
  .empty-message {
    text-align: center;
    margin: 100px auto;
    font-size: 20px;
  }
}
.shopping-list.last-list {
  .header, .aisle .aisle-header, .aisle .item .recipe-ref {
    color: $first_color;
  }
  .menu {
    background: $first_color;
    .menu-item {
      font-size: 3.5vw;
      line-height: 5vw;
    }
  }
}
@media (max-width: 400px) {
  .shopping-list {
    padding: 0;
  }
  .shopping-list.last-list .menu .menu-item {
    font-size: 5vw;
    line-height: 7vw;
  }
}
@media print {
  .recipes, .back-button {
    display: none;
  }
  .shopping-list {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    .menu {
      background: #eee;
    }
  }
  @page {
    margin: 2cm;
    size: A4;
  }
}
