@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_blk.otf);
    font-weight: 600;
}
@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_bld.otf);
    font-weight: 500;
}
@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_med.otf);
    font-weight: 400;
}
@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_reg.otf);
    font-weight: 300;
}
@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_light.otf);
    font-weight: 200;
}
@font-face {
    font-family: brandon;
    src: url(fonts/Brandon_thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNext-Heavy.ttf);
    font-weight: 800;
}
@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNext-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNext-DemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNext-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNext-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: titleFont;
    src: url('fonts/Sofia-Regular.otf');
    font-weight: 100;
}
@font-face {
    font-family: titleFont;
    src: url('fonts/black_jack.ttf');
    font-weight: 200; //recipe headers
}
@font-face {
    font-family: titleFont;
    src: url('fonts/bombshell.ttf');
    font-weight: 300; // main header
}
@font-face {
    font-family: titleFont;
    src: url('fonts/RockSalt.ttf');
    font-weight: 400; // group names
}
@font-face {
    font-family: titleFont;
    src: url('fonts/JandaAppleCobblerSolid.ttf');
    font-weight: 500;
}
