.home-page {
  a.drawer-icon {
    display: none;
    position: absolute;
    left: 8px;
    top: 28px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: white;
    z-index: 100;
    &:active {
      text-decoration: none;
      background: none;
      color: #aaa;
    }
  }
  .recipes-list, .groups {
    a {
      display: block;
    }
  }
  background: #00ABBF;
  background: url('images/home-background.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .recipes-list {
    position: relative;
    float: left;
    height: 100%;
    width: 300px;
    background: rgba(0,0,0,.3);
    padding: 25px 5px 10px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    a.recipe-list-link {
      width: 100%;
      background: white;
      margin-bottom: 2px;
      position: relative;
      .recipe-link-item {
        color: #321;
        font-size: 17px;
        padding: 10px;
      }
      .add-recipe {
        position: absolute;
        right: 0px;
        top: 0;
        padding: 14px 10px;
        cursor: pointer;
        color: $second_color;
        background: rgba(0,0,0,.03);
        &.icon-checkmark {
          background: $second_color;
          color: white;
        }
      }
      &:active {
        background: #444;
        .recipe-link-item {
          color: #bbb;
        }
      }
    }
  }
  .groups {
    height: 100%;
    position: relative;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    padding: 40px 15px;

    a.group {
      float: left;
      margin: 20px 10px;
      width: 320px;
      padding: 10px;
      background: white;
      background: rgba(255,255,255,.9);
      box-shadow: 0 3px 6px rgba(0,0,0,.2);
    }
    a.list {
      font-size: 20px;
      width: 660px;
      padding: 10px 15px;
      margin: 10px;
      background: rgba(255,255,255,.9);
      color: $first_color;
      border-left: 10px solid $first_color;
    }
    a.list.current {
      color: $second_color;
      border-color: $second_color;
    }
    .images {
      height: 200px;
      width: 300px;
      background: #eee;
      overflow: hidden;
    }
    .image {
      float: left;
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
    }
    .name {
      @include titleFont;
      padding: 10px 5px 0;
      font-size: 20px;
      color: #333;
    }
  }
}
@media (max-width: 1010px) {
  .home-page {
    .groups a.group {
      float: none;
      margin: 20px auto;
    }
    .groups a.list {
      width: 320px;
      margin: 10px auto;
    }

    .groups {
      padding: 50px 0px;
    }
  }
}
@media (max-width: 600px) {
  .home-page {
    a.drawer-icon {
      display: block;
    }
    .recipes-list {
      position: absolute;
      top: 0;
      left: -300px;
    }
    .groups {
      padding: 50px 0px;
      background: rgba(0,0,0,.4);
    }
    .groups a.group {
      float: none;
      margin: 20px auto;
    }
    .recipes-list, .groups, a.drawer-icon {
      -webkit-transition: -webkit-transform .5s;
      transition: transform .5s;
    }
  }
  .home-page.open {
    .recipes-list, .groups, a.drawer-icon {
      -webkit-transform: translate3d(300px, 0, 0);
      transform: translate3d(300px, 0, 0);
    }
  }
}
