.recipe-page {
  // padding: 20px;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  color: #444;
  // .overlay {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background: rgba(255,255,255,.9);
  //   background: linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,0) 300px)
  // }
  .recipe-header {
    width: 100%;
    height: 310px;
    background: rgba(255,255,255,.9);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
    .header-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0,0,0,.05), rgba(0,0,0,.4))
    }
    .title {
      @include titleFont;
      font-size: 5vw;
      font-weight: 200;
      position: absolute;
      bottom: 40px;
      width: 100%;
      text-align: center;
    }
    .recipe-stats {
      font-size: 20px;
      font-weight: 200;
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      .statNum {
        margin-right: 10px;
        font-weight: 500;
      }
    }
  }
  .section-header {
    @include titleFont;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 200;
    color: #444;
  }
  .ingredients {
    float: left;
    width: 260px;
    padding: 10px;
    background: rgba(255,255,255,.9);
    position: relative;
    color: #222;
    margin-right: 20px;
    margin-left: 50px;
    .ingredient {
      display: block;
      padding: 3px;
    }
    .amount {
      @include avenirFont;
      display: inline;
      font-size: 14px;
    }
    .name {
      display: inline;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .section {
      margin-top: 10px;
      font-size: 14px;
      background: #222;
      color: white;
      padding: 2px 10px 2px;
      text-transform: uppercase;
      display: inline-block;
      border-radius: 5px;
    }
  }
  .instructions {
    float: left;
    width: calc(100% - 380px);
    background: rgba(255,255,255,.9);
    position: relative;
    color: #222;
    padding: 10px 10px 50px;
    .recipe-stats {
      font-size: 20px;
      font-weight: 200;
      .statNum {
        margin-right: 10px;
        font-weight: 500;
      }
    }
    .instruction {
      @include avenirFont;
      margin: 10px 5px;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .extra-images {
    margin-top: calc(100vh - 310px);
    img {
      display: block;
      width: 100%;
      margin: 0px auto;
    }
    img[src='Error.src']{
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .recipe-page {
    .recipe-header .recipe-stats {
      font-size: 3.5vw;
    }
    .ingredients, .instructions {
      width: calc(100% - 100px);
      margin: 10px 50px;
    }
    .recipe-header .title {
      font-size: 30px;
    }
  }
}
// @media (min-width: 700px) {
//   .recipe-page .recipe-header .title {
//     font-size: 34px;
//   }
// }
