<div class="dialog-container">
  <div class="dialog confirm-complete-list">
    <div class="title">
      Are you sure?
    </div>
    <div class="description">
      This will mark this list as completed and move it to your <span class="last-list-color">Last Grocery List</span>.
    </div>
    <button class="submit-button" {{action 'completeList'}}>Yes!</button>
    <button class="cancel-button" {{action 'closeDialog'}}>Wait, no!</button>
  </div>
</div>
