{{outlet}}
<div class="recipes-list">
  {{#each recipes as |recipe|}}
    {{#link-to 'recipe' recipe.id}}
      {{recipe.shortTitle}}
    {{/link-to}}
  {{/each}}
</div>

<div class="groups">
  {{#each groups as |group|}}
    {{#link-to 'group' group.id}}
      {{group.name}}
    {{/link-to}}
  {{/each}}
</div>
